/** <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 **/

* {
  background-color:#78767b;
  color: #ffd1ff;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.windowSeat {
    position: relative;
  }
  
.window {
    position: relative;
    width:150px;
    height: 200px;
    background-color: #90e0ef;
    border: 10px solid #e9ecef;
    border-radius: 70px;
    overflow: hidden;
    box-shadow: inset 5px 5px 25px rgba(0,0,0,0.3);

  }
  
.clouds {
    position: absolute;
    top:100px;
    background-color: #caf0f8;
    border-radius:50%;
    width: 50px;
    height: 50px;
    left:0;
    box-shadow: 40px 20px #caf0f8, 85px 40px #caf0f8, 105px 30px #caf0f8, 70px 20px #caf0f8, -10px 20px #caf0f8, 130px 10px #caf0f8, 170px 20px #caf0f8, 200px 30px #caf0f8;
    animation: move 10s linear infinite;
  }
  
  @keyframes move {
    from {left:-100px};
    to {left: 100px};
  }
  
  .clouds:before {
    content:"";
    position: absolute;
    border-radius:50%;
    background-color: #fff;
    width:50px;
    height: 50px;
    top:30px;
    left:-10px;
    box-shadow: 30px 30px #fff, 70px 20px #fff, 60px 50px #fff, 105px 30px #fff, 140px 10px #fff, 140px 40px #fff, 170px 10px #fff, 200px 20px #fff, 180px 40px #fff, 240px 10px #fff;
  }

  
  .flap {
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: #dee2e6;
    border-radius:80px;
    left:-20px;
    top:-200px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  }
  
  .flap:before {
    content:"";
    position: absolute;
    width:40px;
    height:10px;
    border-radius:10px;
    background-color: #adb5bd;
    top:230px;
    left:75px;
  }
  
  input#flap {
    display: none;
  }
  
  #flap:checked + .flap {
    transform: translateY(150px);
  }
  
